html{
    height:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{

    background-image:linear-gradient(to right bottom, #ca55f7, #e777ed, #f89ae8, #ffbfe9, #ffe4f1);
}
.lead{
    color:rgb(0, 0, 0);
}
h1{
    font-size:3em;
}
